<br>

<main class="row">
  <section class="col-sm-4">
    <article class="row">
      <div class="col-xs-4">
        <%= profile_photo(current_user) %>
      </div>
      <div class="col-xs-8">
        <h3><%= link_to current_user.name, user_posts_path(current_user) %></h3>
        <p><%= link_to 'Edit Profile', edit_profile_path(current_user.profile) %></p>
      </div>
    </article>
    <br>

    <article>
      <h3>Recently Active</h3>
      <% current_user.recent_friend_posts.each do |post| %>
        <%= render partial: 'posts/author', locals: { post: post, photo_size: 'medium' } %>
        <br>
      <% end %>

      <h3 class="text-center"><%= link_to "See All Your Friends", user_friends_path(current_user) %></h3>
    </article>
  </section>

  <section class="col-sm-8">
    <%= render 'posts/form' %>
    <div id="posts">
      <%= render @posts %>
    </div>
  </section>
</main>