<%= render 'layouts/header' %>

<!-- The main information pane contains basic information, contact information, words to live by and a short description about me -->
<main>
  <div class="panel panel-default">
    <div class="panel-heading">
      <% if params[:id] == current_user.profile.id.to_s %>
        <%= link_to 'Edit Your Profile', edit_profile_path(current_user.profile), class: "btn btn-primary btn-sm pull-right" %>
      <% end %>
      <h2 class="panel-title text-center">
        About <%= @user.name %>
      </h2>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-5">
          <section>

            <h3>Basic Information</h3>

            <div class="row about-info">
              <label class="col-sm-4 text-right">Birthday</label>
              <div class="col-sm-8"><%= @profile.dob.stamp('January 1, 1980') %></div>
            </div>

            <div class="row about-info">
              <label class="col-sm-4 text-right">College</label>
              <div class="col-sm-8"><%= @profile.try(:college) %></div>
            </div>

            <div class="row about-info">
              <label class="col-sm-4 text-right">Hometown</label>
              <div class="col-sm-8"><%= @profile.try(:hometown) %></div>
            </div>

            <div class="row about-info">
              <label class="col-sm-4 text-right">Currently Lives</label>
              <div class="col-sm-8"><%= @profile.try(:current_city) %></div>
            </div>

          </section>

          <section>

            <h3>Contact Information</h3>

            <div class="row about-info">
              <label class="col-sm-4 text-right">Email</label>
              <div class="col-sm-8"><%= @user.email %></div>
            </div>

            <div class="row about-info">
              <label class="col-sm-4 text-right">Telephone</label>
              <div class="col-sm-8"><%= @profile.try(:phone) %></div>
            </div>

          </section>
        </div>

        <div class="col-sm-7 about-words">
          <section>
            <h3>Words to Live By</h3>
            <p><%= @profile.try(:words_to_live_by) %></p>
          </section>

          <section>
            <h3>About Me</h3>
            <p><%= @profile.try(:about) %></p>
          </section>
        </div>
      </div>
    </div>
  </div>

</main>