<div class="panel panel-default">
  <div class="panel-body">

    <%= render partial: 'posts/author', locals: { post: post, photo_size: 'small' } %>

    <div class="row post">
      <div class="col-sm-12">
        <p><%= post.content %></p>
      </div>
    </div>

  </div> <!-- panel-body -->
  <div class="panel-footer post-footer">
    <%= like_link(post) %>

    <a href="#" class="post-action"><i class="fa fa-comment"></i> Comment</a>
    <% if @user == current_user %>
      <%= link_to fa_icon('trash', text: 'Delete'), post, method: :delete, data: {confirm: "Are you sure?"}, class: "pull-right post-action" %>
    <% end %>

    <p><%= likes_summary(post) %></p>

    <%= render post.comments.order(:created_at) %>
    <%= render partial: 'comments/form', locals: { post: post } %>

  </div>

</div> <!-- panel -->