<div class="panel panel-default">
  <div class="panel-body">

    <div class="row">
      <div class="col-sm-2">
        <img src="http://placehold.it/80x80" class="img-thumbnail">
      </div>
      <div class="col-sm-10">
        <h4><%= link_to @user.name, profile_path(@user) %></h4>
        <small class="text-muted">Posted on <%= post.created_at.stamp('Thursday, October 21, 2015') %></small>
      </div>
    </div>

    <div class="row post">
      <div class="col-sm-12">
        <p><%= post.content %></p>
      </div>
    </div>

  </div> <!-- panel-body -->
  <div class="panel-footer post-footer">
    <% if post.liked_by?(current_user.id) %>
      <%= link_to fa_icon('thumbs-up', text: 'Unlike'), user_post_like_path(@user, post), method: :delete, class: 'post-action' %>
    <% else %>
      <%= link_to fa_icon('thumbs-up', text: 'Like'), user_post_like_path(@user, post), method: :post, class: 'post-action' %>
    <% end %>
    <a href="#" class="post-action"><i class="fa fa-comment"></i> Comment</a>
    <% if @user == current_user %>
      <%= link_to fa_icon('trash', text: 'Delete'), user_post_path(@user, post), method: :delete, data: {confirm: "Are you sure?"}, class: "pull-right post-action" %>
    <% end %>

    <%= likes_summary(post) %>

    <%= render post.comments.order(:created_at) %>

    <%= render partial: 'comments/form', locals: {post: post} %>

  </div>

</div> <!-- panel -->