<%= render 'layouts/header' %>

<!-- The main information pane contains basic information, contact information, words to live by and a short description about me -->
<main class="row">

  <!-- Left column of timeline -->
  <section class="col-sm-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="text-center timeline-panel-heading">
          About
        </h4>
      </div>
      <div class="panel-body">
        <%= render 'profiles/basic_info' %>
      </div> <!-- panel-body -->
    </div> <!-- panel -->

    <%= render 'photos' %>
    <%= render 'friends' %>
  </section>


  <!-- Right column of timeline -->
  <section class="col-sm-7">
    <%= render 'form' if @user == current_user %>
    <div id="posts">
      <%= render @posts %>
    </div>
  </section>
</main>